<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--  property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">HR</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
        <property name="hibernate.connection.username">hr</property>
        <property name="hibernate.default_schema">HR</property>-->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="show_sql">true</property>  
		<property name="hibernate.connection.datasource">java:comp/env/jdbc/pool</property>     
        
                
        <mapping resource="jsp2/Countries.hbm.xml"/>
        <mapping resource="jsp2/Departments.hbm.xml"/>
        <mapping resource="jsp2/EmpDetailsView.hbm.xml"/>
    	<mapping resource="jsp2/Employees.hbm.xml"/>
    	<mapping resource="jsp2/JobHistory.hbm.xml"/>
    	<mapping resource="jsp2/Jobs.hbm.xml"/>
    	<mapping resource="jsp2/Locations.hbm.xml"/>
    	<mapping resource="jsp2/Regions.hbm.xml"/>
    	</session-factory>
</hibernate-configuration>
