<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Segunda Practica</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>listadoDepartamentos</servlet-name>
    <servlet-class>jsp.listadoDepartamentos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listadoDepartamentos</servlet-name>
    <url-pattern>/listadoDepartamentos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listarEmpleados</servlet-name>
    <servlet-class>jsp.listarEmpleados</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listarEmpleados</servlet-name>
    <url-pattern>/listarEmpleados</url-pattern>
  </servlet-mapping>
</web-app>